<?xml version="1.0"?>
<GeneralSettings>
  <Connection file="C:\Users\dario\Documents\HMT\spirit_1040-4_Rev02.xml" baudrate="4" nodeId="14" />
  <IsAutoConnect value="1" />
  <IsShowAllData value="0" />
  <IsSimulation value="0" />
  <UseVCI3 value="1" />
  <SyncTimeMs value="0" />
</GeneralSettings>