<?xml version="1.0"?>
<LCR1MainFormDescription companyLogoPath="Spectra.jpg">
  
 <!-- Operation Panel -->

  <OperationPanel>
    <InfoRow rowIdx="0">
      <InfoCell colIdx="0" itemType="Text" text="Laser Status" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2001" canSubIdx="0" canAccess="PDO" visible="true" writeable="false" reReadMs="800" guiType="Text">
        <GuiTypeInfoText showUnknownValue="true">
          <TextXref fieldValue="0" text="Initializing"/>
          <TextXref fieldValue="1" text="No operation"/> 
          <TextXref fieldValue="2" text="Warming up"/>
          <TextXref fieldValue="3" text="Init Laser Off"/>
          <TextXref fieldValue="4" text="Laser Off"/>
          <TextXref fieldValue="5" text="Init Laser Standby"/>
          <TextXref fieldValue="6" text="Laser Standby"/>
          <TextXref fieldValue="7" text="Init Laser on"/>
          <TextXref fieldValue="8" text="Laser On"/>
          <TextXref fieldValue="9" text="Manual Mode"/>
          <TextXref fieldValue="10" text="Init Error"/>
          <TextXref fieldValue="11" text="Error"/>
        </GuiTypeInfoText>
        <StatusUpdate>
          <StatusXref fieldValue="0"  statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="1"  statusValue="4" name ="None"/>
          <StatusXref fieldValue="2"  statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="3"  statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="4"  statusValue="4" name ="None"/>
          <StatusXref fieldValue="5"  statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="6"  statusValue="4" name ="None"/>
          <StatusXref fieldValue="7"  statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="8"  statusValue="3" name ="Laser"/>
          <StatusXref fieldValue="9"  statusValue="4" name ="None"/>
          <StatusXref fieldValue="10" statusValue="2" name ="Preparing"/>
          <StatusXref fieldValue="11" statusValue="1" name ="Attention"/>
        </StatusUpdate>
      </InfoCell>
    </InfoRow>
 
    <InfoRow rowIdx="1">
      <InfoCell colIdx="0" itemType="Text" text="Power [mW]" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2312" canSubIdx="0" canAccess="SDO" visible="true" writeable="false" reReadMs="800" guiType="TExt"/>
    </InfoRow>
 
	
    <InfoRow rowIdx="2">
      <InfoCell colIdx="0" itemType="Text" text="System Status" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2101" canSubIdx="0" canAccess="SDO" visible="true" writeable="false" reReadMs="900" guiType="TExt"/>
    </InfoRow>

    <InfoRow rowIdx="3">
      <InfoCell colIdx="0" itemType="Text" text="Repetition Rate" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2502" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" reReadMs="900" guiType="ComboBox"/>
    </InfoRow>

	<InfoRow rowIdx="4">
      <InfoCell colIdx="0" itemType="Text" text="Wavelength" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2508" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" reReadMs="900" guiType="ComboBox"/>
    </InfoRow>
	    	
	<InfoRow rowIdx="5">
      <InfoCell colIdx="0" itemType="Text" text="Pulse Picker Divider" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2501" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" guiType="Numeric"/>
    </InfoRow>	
	
	<InfoRow rowIdx="6">
      <InfoCell colIdx="0" itemType="Text" text="Shutter Open" visible="true"/>
      <InfoCell colIdx="1" itemType="CanAccess" canIdx="2504" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" 
			reReadMs="-1" guiType="CheckBox">
			<UpdateItem itemType="CanAccess" canIdx="2313" canSubIdx="0" canAccess="SDO"/>
	  </InfoCell>
    </InfoRow>  
	
	<InfoRow rowIdx="3">
      <InfoCell colIdx="2" itemType="Text" text="Pulse Enable" visible="true"/>
      <InfoCell colIdx="3" itemType="CanAccess" canIdx="2506" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" reReadMs="900" guiType="ComboBox"/>
    </InfoRow>	
	
	<InfoRow rowIdx="4">
      <InfoCell colIdx="2" itemType="Text" text="Analog In" visible="true"/>
      <InfoCell colIdx="3" itemType="CanAccess" canIdx="2505" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" reReadMs="900" guiType="ComboBox"/>
    </InfoRow>
	
	<InfoRow rowIdx="5">
      <InfoCell colIdx="2" itemType="Text" text="Analog In Level     [mVx10]" visible="true"/>
      <InfoCell colIdx="3" itemType="CanAccess" canIdx="2321" canSubIdx="0" canAccess="SDO" visible="true" writeable="false" reReadMs="800" guiType="TExt"/>
    </InfoRow>	
	
	<InfoRow rowIdx="6">
      <InfoCell colIdx="2" itemType="Text" text="Power Level [mW]" visible="true"/>
      <InfoCell colIdx="3" itemType="CanAccess" canIdx="2509" canSubIdx="1" canAccess="SDO" visible="true" writeable="true" guiType="Numeric" maxValue="8000" minValue="0"/>
    </InfoRow>
         
    	
  </OperationPanel>
  
   <!-- Operation Panel  -->
  
  <!-- Power Panel-->
  <PowerPanel itemType="CanAccess" canIdx="2500" canSubIdx="0" canAccess="SDO" visible="true" reReadMs="0"/>
  
  <!-- Button Panel-->
  <ButtonPanel>
    <!-- ON -->
    <InfoRow rowIdx="0">
      <InfoCell colIdx="0" itemType="CanAccess" canIdx="2000" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" guiType="Button">
        <GuiTypeInfoButton text="ON" fieldValue="2" fontSize="31">
          <UpdateItem canIdx="2000" canSubIdx="0" canAccess="SDO"/>
        </GuiTypeInfoButton>
        <GuiTypeInfoRadioButton uId="1">
          <Binding uId="2"/>
          <Binding uId="3"/>
        </GuiTypeInfoRadioButton>
      </InfoCell>
    </InfoRow>

    <!-- Standby -->
    <InfoRow rowIdx="1">
      <InfoCell colIdx="0" itemType="CanAccess" canIdx="2000" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" guiType="Button">
        <GuiTypeInfoButton text="Standby" fieldValue="1" fontSize="16"/>
        <GuiTypeInfoRadioButton uId="2">
          <Binding uId="1"/>
          <Binding uId="3"/>
        </GuiTypeInfoRadioButton>
      </InfoCell>
    </InfoRow>

    <!-- OFF -->
    <InfoRow rowIdx="2">
      <InfoCell colIdx="0" itemType="CanAccess" canIdx="2000" canSubIdx="0" canAccess="SDO" visible="true" writeable="true" guiType="Button">
        <GuiTypeInfoButton text="OFF" fieldValue="0" fontSize="31"/>
        <GuiTypeInfoRadioButton uId="3">
          <Binding uId="1"/>
          <Binding uId="2"/>
        </GuiTypeInfoRadioButton>
      </InfoCell>
    </InfoRow>
  </ButtonPanel>
  
 

</LCR1MainFormDescription>